.ResourceActive {
  --textColorDimmer: var(--accentColorNormal) !important;
  border-top-color: var(--accentColorNormal) !important;
  border-left-color: var(--accentColorNormal) !important;
  border-bottom-color: var(--accentColorNormal) !important;
  border-right-color: var(--accentColorNormal) !important;
}
