$boxSize: 15rem;

.BrandChangerPanel {
  position: absolute;
  top: calc(var(--screenPadding) * 2 + var(--floatingToggleSize));
  z-index: calc(var(--tooltipIndex) - 1);
  overflow: hidden;
  transform: scale(0.9);
  opacity: 0.5;
}

.BrandChangerAnimate {
  animation: animate 0.25s ease-in forwards;
  transform-origin: center center;
  transition-property: all;
}

@keyframes animate {
  from {
    transform: scale(0.9);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.BrandColorBox {
  width: $boxSize;
  height: $boxSize;
}

.BrandCurrent {
  font-weight: bold !important;
  text-transform: uppercase;
}

.BrandCurrentRow {
  background-color: var(--accentColorNormal);
}

.BrandCurrentRow > div {
  color: white;
}

.BrandRow:hover {
  background-color: var(--accentColorNormal-hover);
  color: var(--menuControl1) !important;
}

.BrandRow:hover * {
  color: var(--menuControl1) !important;
}

.BrandImage {
  width: 20rem;
  height: 20rem;
  margin-right: 4rem;
  border-radius: 100rem;
}

.TooltipMarginBottom {
  margin-bottom: 5rem;
}

.ToolWhite img {
  filter: brightness(0) invert(1) !important;
}

.ToolWhite img:hover {
  filter: saturate(1) brightness(0.85) invert(1) !important;
}

.ResourceActive {
  --textColorDimmer: var(--accentColorNormal) !important;
  border-top-color: var(--accentColorNormal) !important;
  border-left-color: var(--accentColorNormal) !important;
  border-bottom-color: var(--accentColorNormal) !important;
  border-right-color: var(--accentColorNormal) !important;
}

.NoMargin {
  margin: 0 !important;
  padding: 0 !important;
}

.NoMarginSide {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.DisabledToolButton {
  background-color: rgb(208, 208, 208) !important;
  filter: saturate(1) brightness(0.85) invert(1) !important;
}
