.LevelSegment {
  border: none !important;
  display: flex !important;
  flex-direction: column !important;
}

.LevelBox {
  margin: auto !important;
  text-align: center !important;
  width: 100% !important;
}
